﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
<section class="hero-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="block">
                    <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration=".2s">@Model.Value("heroBannerTitle")</h1>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->
