﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}

@* the fun starts here *@

@*@Html.Partial("_HeroBanner")*@

@{
    var selection = Umbraco.Content(Guid.Parse("b4d959c8-b20f-4f97-8a82-9f7eac942c5c"))
    .Children("businessArticle")
    .Where(x => x.IsVisible());
}

<section class="hero-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="block">
                    @Model.Value("homePageBannerTitle")
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->
<!-- About start
 ==================== -->
<section class="section about bg-gray" id="business">
    <div class="container">
        <div class="special-margin">
            <h2>Business</h2>
        </div>

        @foreach (var item in selection)
        {
            var image = item.Value<IPublishedContent>("businessArticleImage");
            var link = item.Value<IPublishedContent>("businessArticleLink");

            <div class="row wow fadeInLeft style1">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="content style2">
                        <div class="sub-heading">
                            <h3>@item.Value("businessArticleTitle")</h3>
                        </div>
                        <p>@item.Value("businessArticleSummary")</p>
                        <div>
                            <span class="input-group-btn">
                                <button class="btn btn-default " type="button" onclick="window.open(href='https://www.koku.io');">Go to Product<img src="assets/images/arrow2.svg" alt="arrow" style="width: 35px; margin-left: 10px;"> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 block style6 wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="@image.Url" alt="Image for koku discription">
                </div>
            </div>
        }
    </div>
</section>
<section class="section about bg-gray" id="about">
    <div class="container">
        <div>
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
                <div class="content">
                    <div class="sub-heading">
                        <h5>A Fintech startup driven by passionate individuals who are redefining the financial landscape through innovation</h5>
                        <div style="text-align: center; margin-top: 10px">
                            <p>Based in Singapore (Headquarters) and Ceylon, founded in 2014, We develop technology-based financial products that enhances current solutions, and strive to level the playing field for both individuals and small businesses alike by improving access to financial services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #about close -->
<!--
Locations
==================== -->
<section class="call-to-action section ">
    <div class="container">
        <div class="row" style="padding-top: 38px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                    <div class="block">
                        <img src="assets/images/about/colombo.jpg" alt="Colombo" style="width:247.4px;height:207px;">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                    <div class="block style3">
                        <h3>Colombo</h3>
                        <p> No. 12-5/1, Sunethradevi Road, Kohuwala,<br>Sri Lanka.</br> info@cft.com.sg +94112828982</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                    <div class="block">
                        <img src="assets/images/about/singapore.jpg" alt="Singapore" style="width:266px;height:236px;">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                    <div class="block style3">
                        <h3>Singapore</h3>
                        <p>12 Kallang Avenue, Aperia, #03-27,<br>Singapore.<br> hello@koku.io <br>+9411223445 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section contact wow fadeInUp" id="careers">
    <div class="container">
        <div>
            <h2>Careers</h2>
        </div>
        <div class="container">
            <div class="row">
                <a href="assets/images/qa-engineer.png" target="_blank">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="block wow fadeInLeft" id="square">
                            <div class="col-xs-8 col-sm-8 col-md-8" class="heading wow fadeInUp">
                                <h6>QA Engineer</h6>
                                <p>Colombo, Sri Lanka</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <img src="assets/images/about/Arrow.jpg" alt="Arrow" class="style5">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="assets/images/senior-engineer.png" target="_blank">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="block wow fadeInRight" id="square">
                            <div class="col-xs-8 col-sm-8 col-md-8" class="heading wow fadeInUp">
                                <h6>Senior Software Engineer</h6>
                                <p>Colombo, Sri Lanka</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <img src="assets/images/about/Arrow.jpg" alt="Arrow" class="style5">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</section>