@media (min-width: 768px) and (max-width: 992px) {
  .navigation {
    background: rgba(0, 0, 0, 0); }
    .navigation .navbar-brand {
      float: none; } }


@media (max-width: 992px) {
  .special-margin{
    margin-top: 0px; } }

@media(max-width: 576px){
.hero-area h1{
  font-size:34px;
  text-align: center;
  margin-right: 0px; 
  }
.hero-area .row{
  margin-bottom: 50px;
}
h2{
  font-size:27px;
  text-align: left;
}
.hero-area{
  height: 75vh;
  align-items: flex-end; 
}
.bg-1{
  background-size: 506px;
  background-position: top;  
}
.style2{
  margin-left: 0px; 
}
.about .content h3{
  font-size: 20px;
  text-align: center; 
}
p{
  font-size: 12px;
  line-height: 17px;
  text-align: center; 
}
h5{
  font-size: 14px;
  line-height: 24px; 
}
.call-to-action .block h4{
  margin-bottom: 35px;
  margin-top: 10px;
  text-align: center;
  margin-left: 5px;
  font-size: 17px; 
}
.style3{
  width: 100%;
  margin-left: 0px;
  margin-top: 0px; 
}
.style4{ 
  margin-top: 25px;
  }
.bg-gray .block img{
  width: 300px; 
  
}
#square{
  width: 100%;
  height: 105px;
  margin: 5px; 
}
.style5{
  width: 60px;
  height: 25px;
  margin-top: 35px; 
}
.section {
  margin-top: 30px;
  margin-bottom: 30px;
}
h6{
  text-align: center;
  font-size:15px;
  margin: 29px 0px 5px 15px; 
}
 footer p{
  font-size:10px; 
}
.btn{
  font-size:10px;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}
.call-to-action{
  height: 100%; 
}
.call-to-action .block h3{
  text-align: center; 
}
.call-to-action .block p{
  text-align: center;
  padding-right: 0px;
  margin: 5px 0px 0px 12px;
}
.section .block p{
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}}    


@media(min-width: 576px) and (max-width: 992px){
.bg-gray .block img {
  width: 280px;
}
#square{
  width: 100%;
  height: 105px;
  margin: 5px; 
}
.call-to-action{
  height: 500px; 
}
.hero-area{
  height: 80vh;
  align-items: flex-end;
}
.hero-area h1{
  font-size:34px;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 60px;
}
.bg-1{
  background-size: 907px;
  background-position: top;  
}
.section .block p{
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 0px 40px;
}
.call-to-action .block p{
  margin-bottom: 50px;
  text-align: left;
  padding-right: 0px;
  margin: 15px 0px 0px 66px;
  font-size: 14px;
}
.call-to-action .block h3{
  text-align: center;
}
.style2 {
  margin-left: 61px;
  margin-right: 12px;
  margin-top: 33px;
}
.style6{
  height: 258px;
}
.about .content h3{
  font-size: 26px;
}
p{
  font-size: 14px;
}
.btn{
  font-size: 14px;
}
.section{
  margin-top: 30px;
  margin-bottom: 70px;
}
h2{
  font-size: 28px;
}
h5{
  font-size: 22px;
  line-height: 36px;
}
.call-to-action .block h4{
  font-size: 22px;
  margin-right: 20px;
}}


@media(min-width: 992px) and (max-width: 1200px){
#square{
  width: 400px; 
}
.bg-gray .block img {
  width: 350px;
  
}
.call-to-action .block h4{
  margin-left: 0px;
}
.hero-area{
  height: 60vh;
}}


@media (min-width: 1992px){
.float-lg-right {
    float: right!important;
}}

@media (min-width: 1992px){
.navbar-toggleable-md {
    display: block!important;
}}

@media (min-width: 1992px){
.navbar-toggleable-md {
    display: block; 
}}