/*--
    Common Css
--*/


body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font: 14px/22px Lato;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;}

.stripe { 
    background: repeating-linear-gradient(
    90deg,
    #fff,
    #e7e7e7 1px,
    #fff 1px,
    #fff 254px);
}

#square {
    width: 520px;
    height: 130px;
    box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #efefef;
    margin: 5px;
    background-color: #fff }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px; }

h1 {
  font-size: 44px;
  line-height: 56px;
  color: #fff; }

h2 {
  font-size: 36px;
  color: #007dff;
  line-height: 80px;
  font-weight: bold;
  margin: 4px; }

  h2:before {
  position: absolute;
  height: 2px;
  width: 180px; }

h3 {
  font-size: 23px;
  line-height: 25px; }

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 10px; }

  h5 {font-size: 28px;
    line-height: 45px;
    color: var(--black);
    font-weight: bold;
    text-align: center; }

h6{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
      margin: 30px 0px 5px 40px; }  

p {
  font-size: 16px;
  color: #7b7b7b;
  line-height: 25px;
  margin-bottom: 20px; }

.section .block p {
  font-size: 16px;
  color: #7b7b7b;
  line-height: 25px;
  margin: 15px 0px 0px 40px; }  

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none; }

.section {
  margin-top: 60px;
  margin-bottom: 100px; }

/* photo*/

.photo{
  height: 100%; 
  padding-bottom: 1px; 
  display: block;
  margin-left: 0px;
  width: 100%;
}
/*--
    custom heading
--*/
.text-center {
  text-align: center; }

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px; }
  .heading h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px; }
  .heading p {
    font-family: 'Lato', Lato;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300; }
  
.special-margin{
  margin-top: -180px;
}

.btn{
  border-radius: 27.5px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 10px 30px;
  background-color: #fc3384;
  box-shadow: 0px 5px 12px #ff00004a }

.btn-home {
  background-color: #1bafb4;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px; }
  .btn-home:hover, .btn-home:focus {
    background-color: #fff;
    color: #555;
    border: 1px solid #fff; }

/*Preloader*/
#preloader {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999; }

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px; }

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #1bafb4;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
  animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s; }

.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s; }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  20% {
    background: #1bafb4; }
  29.9% {
    background: #1bafb4; }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4; }
  54.999% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4; }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4; } }

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  20% {
    background: #1bafb4; }
  29.9% {
    background: #1bafb4; }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4; }
  54.999% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4; }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4; } }

/*--
    .hero-area start
--*/
.bg-1 {
  background: #000000 url("../images/Cover.png");
  background-position: 80% ;
  background-repeat: no-repeat;
  background-size:1020px;
  background-position-y: top; }


.hero-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-area h1 {
    color: #fff;
    font-size:54px;
    text-transform: normal;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 0px;
    line-height: 1.11;
    margin-right: 254px; }
  .hero-area p {
    color: #fff;
    font-size: 20px;
    line-height: 1.3; }
  .hero-area .counter {
    background: rgba(255, 255, 255, 0.2);
    padding: 18px; }
    .hero-area .counter ul li {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      display: inline-block;
      line-height: 25px;
      padding: 25px 28px 20px;
      text-align: center;
      width: 49%;
      margin-bottom: 3px; }
      .hero-area .counter ul li span {
        display: block;
        font-size: 16px;
        font-weight: 600; }
      .hero-area .counter ul li .digit {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        height: 60px; }

.style1{
  background-color: #ffffff; 
  box-shadow: 0px 25px 32px 0px rgba(0, 0, 0, 0.05); 
  border: solid 1px #efefef; 
  height: 310px; 
  margin-bottom: 105px; }

.style2{
  margin-left: 100px; 
  margin-top: 20px; }

 .style3{
  margin-top: 50px; 
  width: 235px } 

.style4{
  text-align: center; 
  margin-top: 10px;
  }
.style5{
  width:67px;
  height:29px;
  margin-top: 48px;
}  
.style6{
  background-color: #ffffff; 
  box-shadow: 0px 25px 32px 0px rgba(0, 0, 0, 0.05);
  border: solid 1px #efefef;
  margin-top: 50px;
}
.bg-gray .block img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;; 
}

/* .hero-area  */
.navigation {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    padding-top: 5px;
    display: inline-block; }
  .navigation .navbar-toggler {
    background: rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 0;
    float: right; }
    .navigation .navbar-toggler i {
      font-size: 22px;
      color: #fff; }

.navigation.animated {
  background-color: #000000;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);}
  .navigation.animated .menu a {
    color: #fff; }

.menu li a {
  color: #fff;
  font-size: 16px; }
  .menu li a:hover, .menu li a:focus {
    background: none;
    color: #ffffff }
 
/*--
    service start
--*/
.service {
  text-align: center; }
  .service .block {
    margin-bottom: 50px; }
    .service .block i {
      font-size: 30px;
      display: inline-block;
      margin-bottom: 15px;
      color: #1bafb4; }
    .service .block h3 {
      color: #333333;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: Lato; }
    .service .block p {
      color: #666; }
/*--
    About start
--*/
.about .content h3 {
  font-size: 29px;
  font-weight: bold;
  line-height: 2.76;
  color: #262626; }

.about .about-slider img {
  width: 100%;
  height: auto; }

.input-group .btn-info {
      height: 55px;
      border-radius: 50px;
      border: none;
      box-shadow: none;
      background: #1bafb4;
      padding: 0px 35px;
      color: #007dff;
      font-weight: bold; }

/*--
    call-to-action start
--*/

.call-to-action {
  /*padding: 90px 0px;*/
  background-color: #000000;
  height: 300px;
  position: relative;  }
  .call-to-action .block h3 {
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #fe3e7a; }
  .call-to-action .block p {
    padding-right: 30px;
    color: #b3b3b3;
    margin: 15px 0px 0px 0px; }
    .call-to-action .block h4 {
     margin-left: -27px; 
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: 400;
    margin-top: 60px;
    line-height: 1.17;}
    .call-to-action .block img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      width: 212px;
      height: 209px; 
    }
    

.input-field .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 0; }

.btn-send {
  line-height: 48px;
  border: 2px solid #1bafb4;
  background: #0070ff;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  margin-top: 10px; }
  .btn-send:hover {
    color: #fff; }

.input-field label {
  color: rgba(237, 28, 36, 0.7); }

.form-group .input-field + .input-field {
  margin-top: 10px; }

.input-field textarea.form-control {
  height: 160px;
  box-shadow: none; }

.form-group {
  margin-top: 10px; }

#success,
#error {
  display: none; }

footer {
  text-align: center;
  background: #000000;
  padding: 27px 0px; }
  footer p {
    font-weight: 300;
    font-size: 12px;
    color: #dfdfdf;
    letter-spacing: 3px; }
    footer p a {
      color: #fff; }
      footer p a:hover {
        color: #fff;
        text-decoration: none; }
